body{
    height: 100%;
    margin: 0;
    /* background-image: url("assests/background.jpg");     */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    ;
 }
 .container{
    display: flex;
    flex-direction: row;
 }
 .first{
    display: flex;
     width: 35%;
     flex-direction: column;
     margin: auto;
}
.first img{
    width: 600px;
    height : 50vh;
    margin-top: 2em;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative;
 }
.first p{
    position: relative;
}